# Node
node_modules/
dist/
.env
*.log

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS generated
Thumbs.db
ehthumbs.db
